@import url(https://fonts.bunny.net/css?family=aclonica:400|albert-sans:200,300,400);

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
}

body {
    font-size: 16px;}

header {
    margin-top: 2.6rem;
}
header h1 {
    line-height: .8;
    font-size: 4rem;
    font-family: 'Aclonica', sans-serif;
}

.wrapper {
    width: 640px;
    margin: 0 auto;
}

main {
    max-width: 550px;
    height: 560px;
    background-color: #FFFDFE;
    border: 1px solid gray;
}

.color-hub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1rem;
    border-bottom: 1px solid gray;
}

.color-picker {
    display: grid;
    justify-items: center;
    gap: .2rem;
}

button,
select {
    background-color: #FFFDFE;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: .7rem;
    font-size: .8rem;
}

input,
button,
select {
    cursor: pointer;
}

.color-schemes,
footer {
    display: grid;
    text-align: center;
    justify-items: stretch;
    grid-template-columns: repeat(5, 1fr);
    cursor: copy;
}

.color-schemes {
    height: 444px;
}

.color-column {
    width: 110px;
}

footer {
    padding: .4rem 0;
}

.hex-value {
    border-right: 1px dashed #D1D5DB;
}
.hex-value:last-child {
    border: none;
}

footer h3,
.color-picker h3 {
    font-size: 1rem;
    font-weight: 300;
}